/* CSS for the SWiM CRM */
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);
@import url(https://fonts.googleapis.com/css?family=Cabin:400,700);

/* Gobal Styles */
body, html {
  width:100%;
  background:#f9f9f9;
}

body, html, h1, h2, h3, h4, h5, h6, p, a, div {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

h1, h2, h4, h6 {
  color:#003c7d;
}

h3, h5 {
  color:#152c5b;
}

a {
  color:#152c5b;
}

a:hover {
  color:#003c7d;
  text-decoration:none;
}

.navbar-default {
  background: transparent none repeat scroll 0 0;
  border: 0 none;
  box-shadow: unset;
  float: right;
  margin-bottom: 0;
}

.btn.btn-default.loggout {
  float: right;
}

.header-wrapper {
  border-bottom: 2px solid #d8d8d8;
  border-top: 2px solid #152c5b;
  padding-bottom: 10px;
  padding-top: 10px;
  background:#fff;
}

footer {
  padding-top: 30px;
  text-align: center;
}

.footer-wrapper {
  border-top: 2px solid #d8d8d8;
  border-bottom: 2px solid #152c5b;
  background: #fff;
  margin-top: 20px;
}

.btn-default {
  background-image: linear-gradient(to bottom, #152c5b 0px, #102246 100%);
  background-repeat: repeat-x;
  border-color: #152c5b;
  text-shadow: 0 1px 0 #000;
  color:#fff;
}

.btn-default:focus, .btn-default:hover {
  background-color: #102246;
  border-color: #152c5b;
  text-shadow: 0 1px 0 #000;
  color:#fff;
}

.blogheading {
  background: #f0f3f6 none repeat scroll 0 0;
  color: #003c7d;
  font-size: 20px;
  margin: 0;
  padding: 10px 15px;
  border-bottom: 1px solid #e6eaee;
}

.blog-item {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #e6eaee;
  margin-bottom: 15px;
  display: inline-block;
}

.blogcontent {
  padding:15px;
}

.blogcontent .auth-date {
  font-style: italic;
  margin-bottom: 8px;
}

.nav.navbar-nav.navbar-right a {
  color: #003c7d;
  font-weight: 800;
  margin: 0;
  padding: 6px 12px;
}

.nav.navbar-nav.navbar-right a:hover {
  color: #152c5b;
}

.col-md-8.menu-button {
  padding-top: 22px;
}

.btn.btn-default.right-align-button {
  float: right;
}

#line-chart {
  min-height: 100%;
}

/*********************** ADMIN ********************/

.admin-table {
  border: 1px solid #ccc;
}
.pw-valid {
  color: white;
  background: #2ecc71;
  padding: 5px;
  padding-right: 10px;
  border-radius: 5px;
  text-align: center;
  margin-top: 25px;
}
.pw-invalid {
  background: #c3312d;
  color: white;
  padding: 5px;
  padding-right: 10px;
  border-radius: 5px;
  text-align: center;
  margin-top: 25px;
}
.wrong-password-error {
  color: #fff;
  background: #c3312d;
  border-radius: 5px;
  padding: 5px;
  padding-left: 15px;
  margin-top: 10px;
}
.updated_user {
  color: #fff;
  background: #53ad53;
  border-radius: 5px;
  padding: 5px;
  padding-left: 15px;
  margin-top: 10px;
}

/*********************** Footer ********************/

.footer-section li {
  display: inline;
  padding: 5px;
}
.footer-section li {
  display: inline;
  padding: 0px 10px;
  border-left: 1px solid #000;
}
.footer-section li:nth-child(1) {
  border-left: none;
}
.footer-section .active {
  font-weight: 800;
}
.footer-section {
  min-height: 150px;
}

/*********************** Sites ********************/
.col-sm-10.site-view-desc {
  padding-left: 8px;
}
.sites_image {
  max-width: 100%;
  max-height: 150px;
}
.sites-title {
  padding: 0px;
}
.col-sm-5.sites-title {
  text-align: right;
}
.report_data h3 {
    font-size: 18px;
    color: #003c7d;
}
.report_data_h3 {
    color: #152c5b !important;
    font-size: 22px !important;
}
.col-sm-8.site-view {
  padding: 0px !important;
}
.col-sm-12.site_view_buttons {
    padding: 0px;
    padding-top: 20px;
}

/*********************** Items ********************/
.item-recommendation {
  font-style: italic;
}
.items_add_bottom {
  padding-left: 0px ;
}

/*********************** Client ********************/
.search-box {
    display: flex;
    background: #fff;
    border: 2px solid #eee;
    border-radius: 10px;
    margin-bottom:10px;
}

.search-box .client-search-box {
  width:50%;
  margin:0 auto;
}

/*********************** Report Data ********************/
.report-data-section {
    border-bottom: 1px solid #ccc;
    padding-bottom: 30px;
}
.sites-title-right {
    text-align: right;
}
.sites-title-left {
    text-align: left;
}
.reportdata-buttons {
    text-align: left;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}
.datepicker.datepicker-dropdown.dropdown-menu.datepicker-orient-left.datepicker-orient-top {
    top: 110px;
}

body > .container-fluid {
    padding-right: 50px;
    padding-left: 50px;
}

a.nolink {
  font-weight: normal !important;
  color: #152c5b !important;
}

.graph-links {
  cursor: pointer;
}

.graph-links:hover {
  text-decoration: underline;
}

/*********************** Item Search ********************/
.item-search-box {
  padding: 10px;
}

.item-search-box form {
  width: 100%;
}

.search-results {
  background: #fff;
  border: 2px solid #eee;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

.keytitle {
  width: 200px;
  font-weight: bold;
}